#SnakeWrapper {
    position: relative;
    height: 400px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border: 1px solid black;
}

.Block {
    height: 19px; /* 1px space */
    width: 19px;
    position: absolute;
}

.Food {
    background-color: green;
}

.Snake {
    background-color: cornflowerblue;
}

#SnakeHead {
    background-color: red;
}
